In [1]:
import pandas as pd
import numpy as np

In [7]:
movies = pd.read_csv(r'C:\Users\dilib.DESKTOP-22G1382\Downloads\imdb-top-1000.csv')

In [9]:
movies.shape

(1000, 10)

In [10]:
movies.describe()

           Runtime  IMDB_Rating   No_of_Votes         Gross   Metascore
count  1000.000000  1000.000000  1.000000e+03  1.000000e+03  843.000000
mean    122.891000     7.949300  2.736929e+05  1.282781e+08   77.971530
std      28.093671     0.275491  3.273727e+05  2.011110e+08   12.376099
min      45.000000     7.600000  2.508800e+04  1.305000e+03   28.000000
25%     103.000000     7.700000  5.552625e+04  5.012919e+06   70.000000
50%     119.000000     7.900000  1.385485e+05  3.953432e+07   79.000000
75%     137.000000     8.100000  3.741612e+05  1.615997e+08   87.000000
max     321.000000     9.300000  2.343110e+06  9.366622e+08  100.000000

In [11]:
movies.describe(include='all')

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
count,1000,1000,1000.000000,1000,1000.000000,1000,1000,1.000000e+03,1.000000e+03,843.000000
unique,999,100,NaN,14,NaN,548,660,NaN,NaN,NaN
top,Drishyam,2014,NaN,Drama,NaN,Alfred Hitchcock,Tom Hanks,NaN,NaN,NaN
freq,2,32,NaN,289,NaN,14,12,NaN,NaN,NaN
mean,NaN,NaN,122.891000,NaN,7.949300,NaN,NaN,2.736929e+05,1.282781e+08,77.971530
std,NaN,NaN,28.093671,NaN,0.275491,NaN,NaN,3.273727e+05,2.011110e+08,12.376099
min,NaN,NaN,45.000000,NaN,7.600000,NaN,NaN,2.508800e+04,1.305000e+03,28.000000
25%,NaN,NaN,103.000000,NaN,7.700000,NaN,NaN,5.552625e+04,5.012919e+06,70.000000
50%,NaN,NaN,119.000000,NaN,7.900000,NaN,NaN,1.385485e+05,3.953432e+07,79.000000
75%,NaN,NaN,137.000000,NaN,8.100000,NaN,NaN,3.741612e+05,1.615997e+08,87.000000
max,NaN,NaN,321.000000,NaN,9.300000,NaN,NaN,2.343110e+06,9.366622e+08,100.000000

In [12]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Runtime        1000 non-null   int64
 3   Genre          1000 non-null   object
 4   IMDB_Rating    1000 non-null   float64
 5   Director       1000 non-null   object
 6   Star1          1000 non-null   object
 7   No_of_Votes    1000 non-null   int64
 8   Gross          1000 non-null   float64
 9   Metascore      843 non-null    float64
dtypes: float64(3), int64(2), object(5)
memory usage: 78.3+ KB