# feature scaling

In [6]:

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [7]:
movies = pd.read_csv(r'C:\Users\dilib.DESKTOP-GTP80ID\Downloads\Data-Science\Dataset\imdb-top-1000.csv')

In [8]:
# Identifying columns that may require feature scaling
numerical_features = movies.select_dtypes(include=['int64', 'float64']).columns
print("\nNumerical Columns:")
print(numerical_features)

Numerical Columns:
Index(['Runtime', 'IMDB_Rating', 'No_of_Votes', 'Gross', 'Metascore'], dtype='object')

In [9]:
# Check if feature scaling is necessary by examining the range of values for each numerical column
for column in numerical_features:
    column_range = movies[column].max() - movies[column].min()
    print(f"Range of '{column}': {column_range}")

Range of 'Runtime': 276
Range of 'IMDB_Rating': 1.700000000000001
Range of 'No_of_Votes': 2318022
Range of 'Gross': 936660920.0
Range of 'Metascore': 72.0

In [10]:
numerical_features

Index(['Runtime', 'IMDB_Rating', 'No_of_Votes', 'Gross', 'Metascore'], dtype='object')

In [11]:
column

'Metascore'

In [12]:
column_range

72.0

In [22]:
sale = pd.read_excel(r'C:\Users\dilib.DESKTOP-GTP80ID\Downloads\Data-Science\Dataset\SaleData.xlsx')

In [24]:
sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderDate   43 non-null     datetime64[ns]
 1   Region      43 non-null     object
 2   Manager     43 non-null     object
 3   SalesMan    43 non-null     object
 4   Item        43 non-null     object
 5   Units       45 non-null     float64
 6   Unit_price  45 non-null     float64
 7   Sale_amt    45 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 2.9+ KB

In [25]:
numerical_f = sale.select_dtypes(include=['int64', 'float64']).columns

In [26]:
for column in numerical_f:
    column_range = sale[column].max() - sale[column].min()
    print(f"Range of '{column}': {column_range}")

Range of 'Units': 276.0
Range of 'Unit_price': 1139.5
Range of 'Sale_amt': 113560.0

In [27]:
fts = ['Sale_amt', 'Unit_price','Units']

In [28]:
sale[fts]

     Sale_amt  Unit_price   Units
0   113810.00    1198.000   95.00
1    25000.00     500.000   50.00
2    43128.00    1198.000   36.00
3     6075.00     225.000   27.00
4    67088.00    1198.000   56.00
5    30000.00     500.000   60.00
6    89850.00    1198.000   75.00
7   107820.00    1198.000   90.00
8    38336.00    1198.000   32.00
9    30000.00     500.000   60.00
10  107820.00    1198.000   90.00
11   14500.00     500.000   29.00
12   40500.00     500.000   81.00
13   41930.00    1198.000   35.00
14     250.00     125.000    2.00
15     936.00      58.500   16.00
16   14000.00     500.000   28.00
17   14400.00     225.000   64.00
18    3375.00     225.000   15.00
19    5616.00      58.500   96.00
20   80266.00    1198.000   67.00
21    4329.00      58.500   74.00
22   23000.00     500.000   46.00
23   43500.00     500.000   87.00
24    2000.00     500.000    4.00
25    3500.00     500.000    7.00
26    2925.00      58.500   50.00
27   79068.00    1198.000   66.00
28   21600.00     225.000   96.00
29   63494.00    1198.000   53.00
30   40000.00     500.000   80.00
31     625.00     125.000    5.00
32    3627.00      58.500   62.00
33    3217.50      58.500   55.00
34    2457.00      58.500   42.00
35     375.00     125.000    3.00
36    8386.00    1198.000    7.00
37   17100.00     225.000   76.00
38   28500.00     500.000   57.00
39   16772.00    1198.000   14.00
40    5500.00     500.000   11.00
41   47000.00     500.000   94.00
42   14000.00     500.000   28.00
43   62550.00    1125.000  278.00
44    7818.75     140.625   34.75

In [29]:
scaler_minmax = MinMaxScaler()
df_minmax_scaled = pd.DataFrame(scaler_minmax.fit_transform(sale[fts]), columns=fts)
df_minmax_scaled

    Sale_amt  Unit_price     Units
0   1.000000    1.000000  0.336957
1   0.217946    0.387451  0.173913
2   0.377580    1.000000  0.123188
3   0.051294    0.146117  0.090580
4   0.588570    1.000000  0.195652
5   0.261976    0.387451  0.210145
6   0.789010    1.000000  0.264493
7   0.947253    1.000000  0.318841
8   0.335382    1.000000  0.108696
9   0.261976    0.387451  0.210145
10  0.947253    1.000000  0.318841
11  0.125484    0.387451  0.097826
12  0.354438    0.387451  0.286232
13  0.367031    1.000000  0.119565
14  0.000000    0.058359  0.000000
15  0.006041    0.000000  0.050725
16  0.121081    0.387451  0.094203
17  0.124604    0.146117  0.224638
18  0.027518    0.146117  0.047101
19  0.047253    0.000000  0.340580
20  0.704614    1.000000  0.235507
21  0.035919    0.000000  0.260870
22  0.200335    0.387451  0.159420
23  0.380856    0.387451  0.307971
24  0.015410    0.387451  0.007246
25  0.028619    0.387451  0.018116
26  0.023556    0.000000  0.173913
27  0.694065    1.000000  0.231884
28  0.188006    0.146117  0.340580
29  0.556921    1.000000  0.184783
30  0.350035    0.387451  0.282609
31  0.003302    0.058359  0.010870
32  0.029738    0.000000  0.217391
33  0.026132    0.000000  0.192029
34  0.019435    0.000000  0.144928
35  0.001101    0.058359  0.003623
36  0.071645    1.000000  0.018116
37  0.148380    0.146117  0.268116
38  0.248767    0.387451  0.199275
39  0.145491    1.000000  0.043478
40  0.046231    0.387451  0.032609
41  0.411677    0.387451  0.333333
42  0.121081    0.387451  0.094203
43  0.548609    0.935937  1.000000
44  0.066650    0.072071  0.118659

In [30]:
# Standardization using StandardScaler
scaler_standard = StandardScaler()
df_standard_scaled = pd.DataFrame(scaler_standard.fit_transform(sale[fts]), columns=fts)
print("\nDataset After Standardization (Z-score Normalization):")
df_standard_scaled

Dataset After Standardization (Z-score Normalization):

    Sale_amt  Unit_price     Units
0   2.611796    1.397533  0.917562
1  -0.175061   -0.189420 -0.091569
2   0.393795    1.397533 -0.405521
3  -0.768928   -0.814652 -0.607348
4   1.145660    1.397533  0.042982
5  -0.018162   -0.189420  0.132682
6   1.859931    1.397533  0.469059
7   2.423829    1.397533  0.805437
8   0.243422    1.397533 -0.495222
9  -0.018162   -0.189420  0.132682
10  2.423829    1.397533  0.805437
11 -0.504551   -0.189420 -0.562498
12  0.311328   -0.189420  0.603610
13  0.356202    1.397533 -0.427947
14 -0.951716   -1.042010 -1.167977
15 -0.930190   -1.193202 -0.854025
16 -0.520241   -0.189420 -0.584923
17 -0.507689   -0.814652  0.222383
18 -0.853654   -0.814652 -0.876450
19 -0.783331   -1.193202  0.939988
20  1.559185    1.397533  0.289658
21 -0.823717   -1.193202  0.446634
22 -0.237821   -0.189420 -0.181270
23  0.405468   -0.189420  0.738161
24 -0.896801   -0.189420 -1.123126
25 -0.849731   -0.189420 -1.055851
26 -0.867775   -1.193202 -0.091569
27  1.521592    1.397533  0.267233
28 -0.281753   -0.814652  0.939988
29  1.032880    1.397533 -0.024294
30  0.295638   -0.189420  0.581185
31 -0.939949   -1.042010 -1.100701
32 -0.845746   -1.193202  0.177532
33 -0.858596   -1.193202  0.020556
34 -0.882461   -1.193202 -0.270971
35 -0.947794   -1.042010 -1.145551
36 -0.696409    1.397533 -1.055851
37 -0.422963   -0.814652  0.491485
38 -0.065232   -0.189420  0.065407
39 -0.433256    1.397533 -0.898875
40 -0.786971   -0.189420 -0.966150
41  0.515298   -0.189420  0.895137
42 -0.520241   -0.189420 -0.584923
43  1.003257    1.231562  5.021365
44 -0.714209   -1.006485 -0.433553