# dataset selection


Car Price Prediction Dataset

https://www.kaggle.com/code/mohaiminul101/car-price-prediction/notebook

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r'C:\Users\dilib.DESKTOP-GTP80ID\Downloads\Data-Science\Dataset\Car details v3.csv')

In [4]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [5]:
df.tail()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [7]:
from sklearn.preprocessing import OneHotEncoder

# Use sparse_output instead of sparse
onehot_encoder = OneHotEncoder(sparse_output=False)
encoded_data = onehot_encoder.fit_transform(df[['transmission']])
print(encoded_data)

[[0. 1.]
 [0. 1.]
 [0. 1.]
 ...
 [0. 1.]
 [0. 1.]
 [0. 1.]]

In [8]:
encoded_data = pd.get_dummies(df, columns=['transmission'])
print(encoded_data)

                              name  year  selling_price  km_driven    fuel  \
0           Maruti Swift Dzire VDI  2014         450000     145500  Diesel
1     Skoda Rapid 1.5 TDI Ambition  2014         370000     120000  Diesel
2         Honda City 2017-2020 EXi  2006         158000     140000  Petrol
3        Hyundai i20 Sportz Diesel  2010         225000     127000  Diesel
4           Maruti Swift VXI BSIII  2007         130000     120000  Petrol
...                            ...   ...            ...        ...     ...
8123             Hyundai i20 Magna  2013         320000     110000  Petrol
8124         Hyundai Verna CRDi SX  2007         135000     119000  Diesel
8125        Maruti Swift Dzire ZDi  2009         382000     120000  Diesel
8126               Tata Indigo CR4  2013         290000      25000  Diesel
8127               Tata Indigo CR4  2013         290000      25000  Diesel

     seller_type                 owner     mileage   engine   max_power  \
0     Individual           First Owner   23.4 kmpl  1248 CC      74 bhp
1     Individual          Second Owner  21.14 kmpl  1498 CC  103.52 bhp
2     Individual           Third Owner   17.7 kmpl  1497 CC      78 bhp
3     Individual           First Owner   23.0 kmpl  1396 CC      90 bhp
4     Individual           First Owner   16.1 kmpl  1298 CC    88.2 bhp
...          ...                   ...         ...      ...         ...
8123  Individual           First Owner   18.5 kmpl  1197 CC   82.85 bhp
8124  Individual  Fourth & Above Owner   16.8 kmpl  1493 CC     110 bhp
8125  Individual           First Owner   19.3 kmpl  1248 CC    73.9 bhp
8126  Individual           First Owner  23.57 kmpl  1396 CC      70 bhp
8127  Individual           First Owner  23.57 kmpl  1396 CC      70 bhp

                         torque  seats  transmission_Automatic  \
0                190Nm@ 2000rpm    5.0                   False
1           250Nm@ 1500-2500rpm    5.0                   False
2         12.7@ 2,700(kgm@ rpm)    5.0                   False
3      22.4 kgm at 1750-2750rpm    5.0                   False
4         11.5@ 4,500(kgm@ rpm)    5.0                   False
...                         ...    ...                     ...
8123           113.7Nm@ 4000rpm    5.0                   False
8124  24@ 1,900-2,750(kgm@ rpm)    5.0                   False
8125             190Nm@ 2000rpm    5.0                   False
8126        140Nm@ 1800-3000rpm    5.0                   False
8127        140Nm@ 1800-3000rpm    5.0                   False

      transmission_Manual
0                    True
1                    True
2                    True
3                    True
4                    True
...                   ...
8123                 True
8124                 True
8125                 True
8126                 True
8127                 True

[8128 rows x 14 columns]

In [9]:
import pandas as pd

# Load your dataset
df = pd.read_csv(r'D:\Data-Science\Dataset\Car details v3.csv')

# Map 'transmission' column: 'Manual' to 0 and 'Automatic' to 1
df['transmission'] = df['transmission'].map({'Manual': 0, 'Automatic': 1})

# Display the updated DataFrame
print(df.head())

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Data-Science\\Dataset\\Car details v3.csv'

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   int64
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(4), object(8)
memory usage: 825.6+ KB

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv(r'D:\Data-Science\Dataset\Car details v3.csv')

# Extract numerical part from the 'engine' column and convert to float
df['engine'] = df['engine'].str.extract(r'(\d+)').astype(float)

# Now the 'engine' column has the numeric engine capacity (e.g., 1197, 1498, etc.)
print(df[['engine']].head())

   engine
0  1248.0
1  1498.0
2  1497.0
3  1396.0
4  1298.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   float64
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 825.6+ KB

In [ ]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import datetime

In [ ]:
df = pd.read_csv(r'C:\Users\dilib.DESKTOP-GTP80ID\Downloads\Data-Science\Dataset\Car details v3.csv')

In [ ]:
# Preprocessing steps for each column
current_year = datetime.datetime.now().year
df['car_age'] = current_year - df['year']
df = df.drop('year', axis=1)

In [ ]:
df['Make'] = df['name'].str.split().str[0]
df['Model'] = df['name'].str.split().str[1]

In [ ]:
make_encoder = LabelEncoder()
model_encoder = LabelEncoder()

In [ ]:
df['Make'] = make_encoder.fit_transform(df['Make'])
df['Model'] = model_encoder.fit_transform(df['Model'])
df = df.drop('name', axis=1)

In [ ]:
df = pd.get_dummies(df, columns=['fuel'], drop_first=True)
df['transmission'] = df['transmission'].map({'Manual': 0, 'Automatic': 1})

In [ ]:
owner_mapping = {'First Owner': 1, 'Second Owner': 2, 'Third Owner': 3, 'Fourth & Above Owner': 4, 'Test Drive Car': 0}
df['owner'] = df['owner'].map(owner_mapping)

In [ ]:

df['mileage'] = df['mileage'].str.extract(r'(\d+.\d+)').astype(float)
df['engine'] = df['engine'].str.extract(r'(\d+)').astype(float)
df['max_power'] = df['max_power'].str.extract(r'(\d+.\d+)').astype(float)

In [ ]:
df['torque'] = df['torque'].str.extract(r'(\d+\.?\d*)').astype(float)

In [ ]:
df['seats'] = df['seats'].astype(float)

In [ ]:
print(df.head())

                           name  year  selling_price  km_driven    fuel  \
0        Maruti Swift Dzire VDI  2014         450000     145500  Diesel
1  Skoda Rapid 1.5 TDI Ambition  2014         370000     120000  Diesel
2      Honda City 2017-2020 EXi  2006         158000     140000  Petrol
3     Hyundai i20 Sportz Diesel  2010         225000     127000  Diesel
4        Maruti Swift VXI BSIII  2007         130000     120000  Petrol

  seller_type transmission         owner     mileage   engine   max_power  \
0  Individual       Manual   First Owner   23.4 kmpl  1248 CC      74 bhp
1  Individual       Manual  Second Owner  21.14 kmpl  1498 CC  103.52 bhp
2  Individual       Manual   Third Owner   17.7 kmpl  1497 CC      78 bhp
3  Individual       Manual   First Owner   23.0 kmpl  1396 CC      90 bhp
4  Individual       Manual   First Owner   16.1 kmpl  1298 CC    88.2 bhp

                     torque  seats
0            190Nm@ 2000rpm    5.0
1       250Nm@ 1500-2500rpm    5.0
2     12.7@ 2,700(kgm@ rpm)    5.0
3  22.4 kgm at 1750-2750rpm    5.0
4     11.5@ 4,500(kgm@ rpm)    5.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   selling_price  8128 non-null   int64
 1   km_driven      8128 non-null   int64
 2   seller_type    8128 non-null   object
 3   transmission   8128 non-null   int64
 4   owner          8128 non-null   int64
 5   mileage        7907 non-null   float64
 6   engine         7907 non-null   float64
 7   max_power      5994 non-null   float64
 8   torque         7906 non-null   float64
 9   seats          7907 non-null   float64
 10  car_age        8128 non-null   int64
 11  Make           8128 non-null   int32
 12  Model          8128 non-null   int32
 13  fuel_Diesel    8128 non-null   bool
 14  fuel_LPG       8128 non-null   bool
 15  fuel_Petrol    8128 non-null   bool
dtypes: bool(3), float64(5), int32(2), int64(5), object(1)
memory usage: 785.9+ KB

In [ ]:
df.head()

,selling_price,km_driven,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,car_age,Make,Model,fuel_Diesel,fuel_LPG,fuel_Petrol
0,450000,145500,Individual,0,1,23.40,1248.0,NaN,190.0,5.0,10,20,161,True,False,False
1,370000,120000,Individual,0,2,21.14,1498.0,103.52,250.0,5.0,10,27,135,True,False,False
2,158000,140000,Individual,0,3,17.70,1497.0,NaN,12.7,5.0,18,10,36,False,False,True
3,225000,127000,Individual,0,1,23.00,1396.0,NaN,22.4,5.0,14,11,206,True,False,False
4,130000,120000,Individual,0,1,16.10,1298.0,88.20,11.5,5.0,17,20,161,False,False,True

https://www.youtube.com/watch?v=jNUfr0eyK50&list=PLPL68eAk13fsESpD9_-2fl6zb-PFknvd8&index=2

In [ ]:
df.describe()

              year  selling_price     km_driven        seats
count  8128.000000   8.128000e+03  8.128000e+03  7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04     5.416719
std       4.044249   8.062534e+05  5.655055e+04     0.959588
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.800000e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

In [ ]:
df.isnull().sum()

NameError: name 'df' is not defined

In [ ]:
print(df.shape)

(8128, 14)